@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/fira-sans.min.css");
$font-family-base: 'Fira Sans', Helvetica, Arial, sans-serif;

$light-blue: #f6faff;
$regular-blue: #eaf4ff;

$font-size-base: 14;
$body-bg: $light-blue;
$primary: #085cb7;
$card-bg: $light-blue;
$modal-content-bg: $light-blue;
$modal-header-border-color: $regular-blue;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

.bg-blue {
  background-color: $regular-blue;
}

body {
  color: $primary
}

.alert-primary {
  background-color: $regular-blue;
}

.border-primary {
  border-color: #89c4ff !important;
}

.auto-mb:last-child {
  margin-bottom: 0 !important;
}
